#Titulo
{
	text-align: center;
	color: #16B83E;

}

body
{
	background-color: #F0F8FF;
}

nav
{

}

.conteudo
{
	background-color: #fff ;
	position: relative;
	width: auto; 
	height: auto;
	min-height: 500px;
	align-content: center;
	margin: auto ;
	margin-top: 50px;
	max-width: 1000px;
	border-radius: 5px;
}

#data
{
	padding-top: 20px;
	margin-bottom: 409px;
	align-items: center;
}
#grafico
{
	margin-top: 50px;
	text-align: center;
	
}
#myChart
{
	width: 980px;
	height: 600px;
	text-align: center;
}